services:
  frontend:
    build: ./virtual-school-ui
    ports:
      - "3000:3000"
    volumes:
      - ./virtual-school-ui:/app
    command: >
      sh -c "npm install && npm start"
    networks:
      - keycloak-network
    depends_on:
      backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./virtual-school-backend
    ports:
      - "8080:8080"
    networks:
      - keycloak-network
    depends_on:
      backend-db:
        condition: service_healthy
      keycloak-db:
        condition: service_healthy
      kafka:
        condition: service_started
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    environment:
      - KC_HOSTNAME=${KC_HOSTNAME}
      - KC_DB=postgres
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KC_DB_URL_DATABASE=${KC_DB_URL_DATABASE}
      - KC_DB_URL_HOST=${KC_DB_URL_HOST}
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "8082:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - keycloak-network
    restart: always
    command:
      - "start-dev"
      - "--import-realm"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/admin/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak-db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=${POSTGRES_DB_KEYCLOAK}
      - POSTGRES_USER=${POSTGRES_USER_KEYCLOAK}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_KEYCLOAK}
    ports:
      - "5432:5432"
    volumes:
      - keycloak-postgres-data:/var/lib/postgresql
    networks:
      - keycloak-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloakuser -d keycloak"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend-db:
    image: postgres:latest
    environment:
      - POSTGRES_DB=${POSTGRES_DB_BACKEND}
      - POSTGRES_USER=${POSTGRES_USER_BACKEND}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_BACKEND}
    ports:
      - "5433:5432"
    volumes:
      - backend-postgres-data:/var/lib/postgresql
    networks:
      - keycloak-network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U schooluser -d virtualschooldb"]
      interval: 10s
      timeout: 5s
      retries: 5

  adminer:
    image: adminer:latest
    ports:
      - "8083:8080"
    depends_on:
      keycloak-db:
        condition: service_healthy
      backend-db:
        condition: service_healthy
    networks:
      - keycloak-network
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 5


  kafka:
    image: confluentinc/cp-kafka:latest
    networks:
      - keycloak-network
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_PROCESS_ROLES: 'broker,controller'
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: '1@kafka:9093'
      KAFKA_LISTENERS: 'PLAINTEXT://0.0.0.0:9092,CONTROLLER://kafka:9093'
      KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka:9092'
      KAFKA_INTER_BROKER_LISTENER_NAME: 'PLAINTEXT'
      KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_METADATA_LOG_DIR: '/tmp/kraft-metadata-logs'
    healthcheck:
      test: [ "CMD-SHELL", "kafka-topics --bootstrap-server kafka:9092 --list" ]
      interval: 10s
      timeout: 5s
      retries: 5

  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    networks:
      - keycloak-network
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - NOTIFICATION_TOPIC=${NOTIFICATION_TOPIC}
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  reporting-service:
    build:
      context: ./reporting-service
      dockerfile: Dockerfile
    networks:
      - keycloak-network
    depends_on:
      kafka:
        condition: service_healthy
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - REPORTING_TOPIC=${REPORTING_TOPIC}
    restart: always
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  keycloak-network:
    driver: bridge

volumes:
  keycloak-postgres-data:
    driver: local
  backend-postgres-data:
    driver: local
